* {
  box-sizing: content-box;
}

body {
  margin: 0;
  color: rgba(245, 240, 240, 0.8);
}

.section-main-container {
  max-width: 375px;
  height: 677px;
  background: linear-gradient(
    -35deg,
    rgba(255, 255, 255, 0.8) 3%,
    rgba(255, 255, 255, 0.5) 5%,
    rgba(0, 0, 0, 1) 20%
  );
}

.form {
  display: grid;
  gap: 30px;
}

.checkbox-content {
  margin-bottom: 5px;
}

.div-button {
  justify-self: center;
}
